// ** COLORS **
$beige: #f4f1ea;
$blue: #a9b9b7;
$red: #bd563d;
$pink: #eed2c9;
$brown: #b2a585;
$grey: #bcb9b9;
$blue: #a9b9b7;

// ** FONT **

$font: "Canela", "Roboto Mono", "Courier new", "Arial", monospace;

//Media

$tablet: 720px;
$mobile: 480px;
